<div class="panel panel-default">
    <div class="panel-heading">
        <strong>We also deal in the following</strong>
    </div>
    <div class="panel-body">
        <ul>
            <li>Roti Making Machine</li>
            <li>Pani Puri Making Machine</li>
            <li>Food processing machinery</li>
            <li>Soap / Detergent making Machinery</li>
            <li>Toffie / Candy making Machinery</li>
            <li>Paper Cups making Machinery</li>
            <li>Aluminium Can making Machinery</li>
            <li>Nut and Bolt making Machinery</li>
        </ul>
    </div>
</div>