<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Engines</strong>
    </div>
    <div class="panel-body">
        <div ng-controller="sparepartsController">
            <div class="col-md-3" ng-repeat="image in images.engine">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{image.headtext}}</strong>
                    </div>
                    <div class="panel-body">
                        <img src={{image.imageurl}} />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-controller="sparepartsController">
    <div class="col-md-3" ng-repeat="image in images.others">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{image.headtext}}</strong>
            </div>
            <div class="panel-body">
                <img src={{image.imageurl}} />
            </div>
        </div>
    </div>
</div>