<div class="jumbotron">
    <table width="100%">
        <tr>
            <td>
                <address>
              <strong>KRISH INDIA INTL.</strong><br>
              Sector 4-B, Plot No 1176/1,<br>
              Gandhinagar, Gujarat - 382004<br>
              <abbr title="Phone">P:</abbr> +91 8879490330, +91 9987618876, +91 9819414099
            </address>
                <address>
              <strong>Email</strong><br>
              <a href="mailto:#">info@krishindiaintl.com</a><br>
              <a href="mailto:#">krishindia.intl@gmail.com</a>
            </address>
            </td>
            <td>
                <div ng-include="'/view/Cont.html'"></div>
            </td>
        </tr>
    </table>
</div>
