<!--<script type="text/javascript" src="../js/homeCtrl.js"></script>-->
<div ng-controller="homeController" ng-show={{showSearch}} class="navbar-center">
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search">
    </div>
</div>

<div class="row col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>About KRISH INDIA INTERNATIONAL</strong>
        </div>
        <div class="panel-body">

            <p>
                Krish India International is one of the <strong>leading Manufacturer - Exporter</strong> of <strong>Agricultural Machinery and Implements world-wide</strong>. A reputed name for <strong>quality products</strong>, KRISH has expanded its
                product range to cater to their customers ever increasing demands.
            </p>
            <p>
                <strong>Established in India</strong> in the year <strong>2008</strong>, KRISH has earned its name as one of the reliable Exporter from India with exclusive sourcing arrangements for some of the leading clients from African Continent.
            </p>
            <p>
                KRISH comprises of a <strong>young and Dynamic team</strong> fully supported by <strong>professionals in International Business</strong> for over <strong>three Decades</strong> with complete focus on offering <strong>Quality products at competitive prices</strong>                to our customers / clients. The expanded product range has been an addition to its reputation.
            </p>
            <p>
                The <strong>spare parts and component division</strong> for <strong>Engines and Pumps</strong> has been one of the key support to the business development and <strong>KRISH can supply critical components and replacement parts</strong>                for all types of <strong>Diesel Engines</strong> at very reasonable price without compromising on Quality. We are also Importers of components / electrical products for our prestigious customers in India.
            </p>
            <p>
                A glance through Product Range would be sufficient testimony to our claims and the list could be endless.
            </p>
            <p>
                Our young team at KRISH is always keen to increase and serve our clientele for complete guidance and satisfaction for supplies from India as well as from the third countries through their associate manufacturers.
            </p>
        </div>
    </div>
</div>
<div class="col-md-offset-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>MISSION & OBJECTIVE</strong>
        </div>
        <div class="panel-body">
            <h4>MISSION</h4>
            <ul>
                <li>
                    To be the Leading Business House in International Trade and be in the preference list of our Customers.
                </li>
                <li>
                    Transparent Business with all business partners.
                </li>
                <li>
                    Keep updated with challenging global scenario and flexible to adopt it for the growth of business.
                </li>
                <li>
                    Develop quality products / components in Bulk for our Customers on long term basis.
                </li>
                <li>
                    Expand product range and clientele base to widen our Horizons.
                </li>
            </ul>
            <br>
            <br>
            <h4>OBJECTIVE</h4>
            <p>To carry on the business Globally as traders, dealers, exporters, importers, buyers, sellers, merchants, indenters, distributers, in all kinds of products and articles of merchandise and to undertake carry on acquire agencies of all kinds
                and for all types of products required or ordered by customers.</p>
        </div>
    </div>
</div>

<!--<div class="panel panel-default" ng-controller="agriController">-->
<!--    <div class="panel-heading">-->
<!--        {{agri.headtext}}-->
<!--    </div>-->
<!--    <div class="panel-body">-->
<!--        <a href={{agri.ppl}} ng-repeat="product in agri.products| limitTo:4">-->
<!--            <div class="col-md-3">-->
<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-body">-->
<!--                        <img src={{product.image}} />-->
<!--                    </div>-->
<!--                    <div class="panel-footer">-->
<!--                        {{product.name}}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->